html(lang='en')
  head
    title Rental Application
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='/images/icon.png')
  body
    pre(style='font-size:18px') #{error.status}
    pre(style='font-size:18px') #{error.stack}
