//- The inline SVG images in this file are from those listed here: https://fontawesome.com/icons?d=gallery&s=solid, 
//- and are Creative Commons licensed: https://creativecommons.org/licenses/by/4.0/
//- The svg and path information was obtained by running through this tutorial: https://fontawesome.com/how-to-use/server-side-rendering,
//- inserting the names of icons needed instead of just "home", and then rewriting it in pug syntax.
html(lang='en')
  head
    title Rental Application
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='/images/icon.png')
    link(rel='stylesheet' media='print' href='/stylesheets/rentap-print.css')
    link(rel='stylesheet' media='print' href='/stylesheets/rentap-screen.css')
    link(rel='stylesheet' media='screen' href='/stylesheets/rentap-screen.css')
  body
    //- this "jump" form only has one label and input "row" which is inside the main "rentap" form
    //- When the input changes and the user hits Enter, the form will be submitted
    //- and the ap on that row will be displayed
    form#jump(method='post')
    //- Similar for these forms too
    form#search(method='post')
    form#selectHeader(method='post')
    form#selectName(method='post')
    form#saveheader(method='post')
    //- The form action is the current url by default, and the method is 'get' by default
    //- 
    //- However, buttons (which are of type submit by default) can have
    //- formaction='/path' and the same can be done with method, 
    //- formmethod='post'
    //- all the get buttons will be distinguished by path (in rentapRoutes), so will use formaction='/path' for all get buttons
    //- all the post buttons will have name 'button' and will be distinguished by value. there will only be one controller method
    //-  for all post buttons
    form#rentap(name='rentap' method='post')
      //- table of tables is just one column with 2 cells, each cell is a table. This is an attempt to fix the width of the headertable to match the main table
      table#oftables
        tbody
          tr
            td
              //- the model has access to headers table as headers[{StreetAddress, CityStateZip, Title, Name}, etc.]
              //- header: {StreetAddress, CityStateZip, Title, Name}, headerNames[name1,...], 
              //- headertable is not printable (display:none in css for print media)
              table#headertable
                tbody
                  tr
                    td.max25ch 
                      if (mode != 'discarded')
                        button#save.inline(title='Save' name='button' value='save')
                          svg(aria-hidden="true" data-prefix="fas" data-icon="user" class="svg-inline--fa fa-user fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                            path#alertUnsaved(fill=(unsaved ? "red" : "grey") d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z")
                          svg(aria-hidden="true" data-prefix="fas" data-icon="download" class="svg-inline--fa fa-download fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                            path(fill="currentColor" d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z")
                        br
                        button#new.inline(title='New Blank Application' formaction='/rentap' formmethod='get')
                          svg(aria-hidden="true" data-prefix="fas" data-icon="user" class="svg-inline--fa fa-user fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                            path(fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z")
                          svg(aria-hidden="true" data-prefix="fas" data-icon="plus" class="svg-inline--fa fa-plus fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                            path(fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z")
                          svg(aria-hidden="true" data-prefix="fas" data-icon="newspaper" class="svg-inline--fa fa-newspaper fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512")
                            path(fill="currentColor" d="M552 64H88c-13.255 0-24 10.745-24 24v8H24c-13.255 0-24 10.745-24 24v272c0 30.928 25.072 56 56 56h472c26.51 0 48-21.49 48-48V88c0-13.255-10.745-24-24-24zM56 400a8 8 0 0 1-8-8V144h16v248a8 8 0 0 1-8 8zm236-16H140c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm208 0H348c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm-208-96H140c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm208 0H348c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm0-96H140c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h360c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12z")
                      else
                        button#restore.inline(title='Restore' formaction='/rentap/restore/' + (undefined==ap ? '' : ap.rowid) formmethod='get') 
                          svg(aria-hidden="true" data-prefix="fas" data-icon="undo" class="svg-inline--fa fa-undo fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                            path(fill="currentColor" d="M212.333 224.333H12c-6.627 0-12-5.373-12-12V12C0 5.373 5.373 0 12 0h48c6.627 0 12 5.373 12 12v78.112C117.773 39.279 184.26 7.47 258.175 8.007c136.906.994 246.448 111.623 246.157 248.532C504.041 393.258 393.12 504 256.333 504c-64.089 0-122.496-24.313-166.51-64.215-5.099-4.622-5.334-12.554-.467-17.42l33.967-33.967c4.474-4.474 11.662-4.717 16.401-.525C170.76 415.336 211.58 432 256.333 432c97.268 0 176-78.716 176-176 0-97.267-78.716-176-176-176-58.496 0-110.28 28.476-142.274 72.333h98.274c6.627 0 12 5.373 12 12v48c0 6.627-5.373 12-12 12z")
                          svg(aria-hidden="true" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                            path(fill="currentColor" d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm416 56v324c0 26.5-21.5 48-48 48H80c-26.5 0-48-21.5-48-48V140c0-6.6 5.4-12 12-12h360c6.6 0 12 5.4 12 12zm-272 68c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208z")
                        button#delrentap.inline(title='Delete' formaction='/rentap/delete/' + (undefined==ap ? '' : ap.rowid) formmethod='get') 
                          svg(aria-hidden="true" data-prefix="fas" data-icon="user" class="svg-inline--fa fa-user fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                            path(fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z")
                          svg(aria-hidden="true" data-prefix="fas" data-icon="minus" class="svg-inline--fa fa-minus fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                            path(fill="currentColor" d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z")
                    td.max25ch 
                      if (mode != 'discarded')
                        button#discard.inline(title='Discard' formaction='/rentap/discard/' + (ap ? ap.rowid : 0) formmethod='get')
                          svg(aria-hidden="true" data-prefix="fas" data-icon="user" class="svg-inline--fa fa-user fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                            path(fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z")
                          svg(aria-hidden="true" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                            path(fill="currentColor" d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm416 56v324c0 26.5-21.5 48-48 48H80c-26.5 0-48-21.5-48-48V140c0-6.6 5.4-12 12-12h360c6.6 0 12 5.4 12 12zm-272 68c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208z")
                        button#trash.inline(title='Enter Trash' formaction='/rentap/show/' + (undefined==ap ? 0 : ap.rowid) + '/switch_mode' formmethod='get' icon='trash')
                          svg(aria-hidden="true" data-prefix="fas" data-icon="sign-in-alt" class="svg-inline--fa fa-sign-in-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                            path(fill="currentColor" d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z")
                          svg(aria-hidden="true" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                            path(fill="currentColor" d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm416 56v324c0 26.5-21.5 48-48 48H80c-26.5 0-48-21.5-48-48V140c0-6.6 5.4-12 12-12h360c6.6 0 12 5.4 12 12zm-272 68c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208z")
                      else 
                        button#back.inline(title='Leave Trash' formaction='/rentap/show/' + (undefined==ap ? '' : ap.rowid) + '/switch_mode' formmethod='get') 
                          svg(aria-hidden="true" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                            path(fill="currentColor" d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm416 56v324c0 26.5-21.5 48-48 48H80c-26.5 0-48-21.5-48-48V140c0-6.6 5.4-12 12-12h360c6.6 0 12 5.4 12 12zm-272 68c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208z")
                          svg(aria-hidden="true" data-prefix="fas" data-icon="sign-out-alt" class="svg-inline--fa fa-sign-out-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                            path(fill="currentColor" d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z")
                    td.max25ch
                      //- below 'select' is not a button, but will act like a submit button when the value changes. The controller distinguishes
                      //- which button did the submission according to the value of form.button
                      input#label.invisible.readonly(name='label' type='text' form='selectHeader' value='selectHeader' readonly)
                      if (headers)
                        select.inline(name='button' form='selectHeader' onchange='submit()')
                          each hdr in headers
                            option(value=hdr.Name selected=(!header ? (ap && ap.headerName ? ap.headerName===hdr.Name : 'Choose Header'===hdr.Name) : header.Name===hdr.Name))= hdr.Name
                      =' '
                      button.inline(title='Delete Header' formmethod='get' form='selectHeader' formaction='/rentap/deleteheader/' + (header ? header.Name : ''))
                        svg(aria-hidden="true" data-prefix="fas" data-icon="heading" class="svg-inline--fa fa-heading fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                          path(fill="currentColor" d="M496 80V48c0-8.837-7.163-16-16-16H320c-8.837 0-16 7.163-16 16v32c0 8.837 7.163 16 16 16h37.621v128H154.379V96H192c8.837 0 16-7.163 16-16V48c0-8.837-7.163-16-16-16H32c-8.837 0-16 7.163-16 16v32c0 8.837 7.163 16 16 16h37.275v320H32c-8.837 0-16 7.163-16 16v32c0 8.837 7.163 16 16 16h160c8.837 0 16-7.163 16-16v-32c0-8.837-7.163-16-16-16h-37.621V288H357.62v128H320c-8.837 0-16 7.163-16 16v32c0 8.837 7.163 16 16 16h160c8.837 0 16-7.163 16-16v-32c0-8.837-7.163-16-16-16h-37.275V96H480c8.837 0 16-7.163 16-16z")
                        svg(aria-hidden="true" data-prefix="fas" data-icon="minus" class="svg-inline--fa fa-minus fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                          path(fill="currentColor" d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z")
                      input#label.invisible.readonly(name='label' type='text' form='saveheader' value='saveheader' readonly)
                      button.inline(title='Save Header' name='button' form='saveheader' value='saveheader')
                        svg(aria-hidden="true" data-prefix="fas" data-icon="heading" class="svg-inline--fa fa-heading fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                          path(fill="currentColor" d="M496 80V48c0-8.837-7.163-16-16-16H320c-8.837 0-16 7.163-16 16v32c0 8.837 7.163 16 16 16h37.621v128H154.379V96H192c8.837 0 16-7.163 16-16V48c0-8.837-7.163-16-16-16H32c-8.837 0-16 7.163-16 16v32c0 8.837 7.163 16 16 16h37.275v320H32c-8.837 0-16 7.163-16 16v32c0 8.837 7.163 16 16 16h160c8.837 0 16-7.163 16-16v-32c0-8.837-7.163-16-16-16h-37.621V288H357.62v128H320c-8.837 0-16 7.163-16 16v32c0 8.837 7.163 16 16 16h160c8.837 0 16-7.163 16-16v-32c0-8.837-7.163-16-16-16h-37.275V96H480c8.837 0 16-7.163 16-16z")
                        svg(aria-hidden="true" data-prefix="fas" data-icon="download" class="svg-inline--fa fa-download fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                          path(fill="currentColor" d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z")
                      //- value of input#headername changes when the 'select' menu above changes
                      input(name='headername' type='text' form='saveheader' value=(header ? header.Name : '') autofocus=(fieldFocused==='headername' ? 'autofocus' : null)) 
                      
                    td.max25ch
                      input#label.invisible.readonly(name='label' type='text' form='search' value='search' readonly)
                      input#pattern(name='pattern' type='text' form='search' value='' onchange='submit()')
                      button#search.inlinebutton(title='Search. Click while empty to clear previous search and list all names.' name='button' form='search' value='search')
                        svg(aria-hidden="true" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                          path(fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z")
                      if (error)
                        #error
                          =error

                    td.max25ch
                      input#label.sameline_input.readonly(name='label' type='text' form='jump' value='row:' readonly)
                      input#row.sameline_input(name='button' type='text' form='jump' value=(undefined===rownum ? '' : (null===rownum ? null : rownum + 1)) onchange='submit()')
                      =' '
                      button#prev.inlinebutton(title='Previous' formaction='/rentap/show/' + (undefined==ap ? row0 : ap.rowid) + '/prev' formmethod='get')
                        svg(aria-hidden="true" data-prefix="fas" data-icon="long-arrow-alt-left" class="svg-inline--fa fa-long-arrow-alt-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                          path(fill="currentColor" d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z")
                      button#next.inlinebutton(title='Next' formaction='/rentap/show/' + (undefined==ap ? row0 : ap.rowid) + '/next' formmethod='get')
                        svg(aria-hidden="true" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                          path(fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z")
                      //- like with the select for headers above, this will submit the form when it changes
                      input#label.invisible.readonly(name='label' type='text' form='selectName' value='selectName' readonly)
                      if (Names)
                        select.inline(name='button' form='selectName' onchange='submit()')
                          each Name in Names
                            option(value=Name.rowid selected=(undefined===Names[Names.length-1] ? 'No Saved Headers' : (Names[Names.length - 1].FullName.match(/^Choose /) ? Name.FullName.match(/^Choose /) : ap.rowid===Name.rowid)))= Name.FullName
                    td.max25ch
                      input#mode.readonly.newline(name='mode' type='text' value=(undefined===mode ? 'new' : mode) style=('new'===mode ? "color:white" : ('edit'===mode ? "color:green" : ('discarded'===mode ? "color:red" : false))) readonly) 

                        
          //- 2nd row of table#oftables
          tr
            td
              //- main (printable) table
              table
                tbody
                  tr
                    td.lowpadding 
                      img(src='/images/icon.png')

                    td.lowpadding  
                      input#rentaladdress(name='rentaladdress' type='text' form='saveheader' value=(!header ? 'enter rental address' : header.StreetAddress)) 
                      input#rentalcitystzip(name='rentalcitystzip' type='text' form='saveheader' value=(!header ? 'enter city, state, zip' : header.CityStateZip))

                    td.lowpadding 
                      input.title(name='title' type='text' form='saveheader' value=(!header ? 'enter title' : header.Title))

                    td.lowpadding  
                      label.smalllabel(for='authdate') Applied 
                      input#authdate(name='authdate' type='text' value=(ap ? ap.dateApplied: '') autofocus=(fieldFocused==='authdate' ? 'autofocus' : null) onchange='submit()') 

                      label.sameline_label(for='rowprint') Row: 
                      input#rowprint.readonly.sameline_input(name='rowprint' type='text' value=(undefined===rownum ? '' : (null===rownum ? null : rownum + 1)) readonly) 
                      br 
                      label.sameline_label(for='rentapID') ID: 
                      input#rentapID.readonly.sameline_input(name='rentapID' type='text' value=(ap ? ap.rowid : 'New') readonly) 
                      
                    td.lowpadding 
                      label.smalllabel(for='guestdate') Guested 
                      - var rentapDateGuested = ap ? ap.dateGuested : ''
                      textarea#guestdate(name='guestdate' cols='8' rows='4' onchange='submit()' autofocus=(fieldFocused==='guestdate' ? 'autofocus' : null))= rentapDateGuested

                    td.lowpadding 
                      label.smalllabel(for='rentdate') Rented 
                      - var rentapDateRented = ap ? ap.dateRented : ''
                      textarea#rentdate(name='rentdate' cols='8' rows='4' onchange='submit()' autofocus=(fieldFocused==='rentdate' ? 'autofocus' : null))= rentapDateRented

                  //- rentaps[{FullName, SSN, BirthDate, MaritalStatus, Email, StateID, Phone1, Phone2, CurrentAddress, PriorAddresses, ProposedOccupants, ProposedPets, Income, Employment, Evictions, Felonies, dateApplied, dateGuested, dateRented, headerName}, ...], 
                  table#rentapbody 
                    tr 
                      td 
                        ul 
                          li.section_header Personal Information

                          li
                            label.personalinfo(for='fullname') Full Name 
                            input#fullname(name='fullname' type='text' value=(ap ? ap.FullName : '') onchange='submit()' autofocus=(fieldFocused==='fullname' ? 'autofocus' : null))

                          li 
                            label.personalinfo(for='ssnumber') Social Security Number 
                            input#ssnumber(name='ssnumber' type='text' value=(ap ? ap.SSN : '') onchange='submit()' autofocus=(fieldFocused==='ssnumber' ? 'autofocus' : null))

                          li 
                            label.personalinfo(for='birthdate') Birth Date 
                            input#birthdate(name='birthdate' type='text' value=(ap? ap.BirthDate : '') onchange='submit()' autofocus=(fieldFocused==='birthdate' ? 'autofocus' : null))

                          li 
                            label.personalinfo(for='maritalstatus') Marital Status 
                            input#maritalstatus(name='maritalstatus' type='text' value=(ap? ap.MaritalStatus : '') onchange='submit()' autofocus=(fieldFocused==='maritalstatus' ? 'autofocus' : null))

                          li 
                            label.personalinfo(for='email') Email 
                            input#email(name='email' type='text' value=(ap ? ap.Email : '') onchange='submit()' autofocus=(fieldFocused==='email' ? 'autofocus' : null))

                          li 
                            label.personalinfo(for='stateid') State ID# 
                            input#stateid(name='stateid' type='text' value=(ap? ap.StateID : '') onchange='submit()' autofocus=(fieldFocused==='stateid' ? 'autofocus' : null))

                          li 
                            label.personalinfo(for='phone1') Phone 1 
                            input#phone1(name='phone1' type='text' value=(ap ? ap.Phone1 : '') onchange='submit()' autofocus=(fieldFocused==='phone1' ? 'autofocus' : null))

                          li 
                            label.personalinfo(for='phone2') Phone 2 
                            input#phone2(name='phone2' type='text' value=(ap ? ap.Phone2 : '') onchange='submit()' autofocus=(fieldFocused==='phone2' ? 'autofocus' : null))

                          li 
                            - var ca = ap ? ap.CurrentAddress : ''
                            label#currentaddresslabel(for='currentaddress') #[strong Current Address, City, State, Zip, Dates, Rent, Landlord name and phone number]...  
                            textarea#currentaddress(name='currentaddress' onchange='submit()' autofocus=(fieldFocused==='currentaddress' ? 'autofocus' : null))= ca

                          li 
                            - var pa = ap ? ap.PriorAddresses : ''
                            label(for='previousaddresses') #[strong Prior Addresses, Cities, States, Zips, Dates, Rents, Landlords]...  
                            textarea#previousaddresses(name='previousaddresses' onchange='submit()' autofocus=(fieldFocused==='previousaddresses' ? 'autofocus' : null))= pa

                      td 
                        ul 
                          li 
                            - var po = ap ? ap.ProposedOccupants : ''
                            label(for='occupants') #[strong Proposed Occupants: self+age, other+age]...  
                            textarea#occupants(name='occupants' onchange='submit()' autofocus=(fieldFocused==='occupants' ? 'autofocus' : null))= po

                          li 
                            - var pp = ap ? ap.ProposedPets : ''
                            label(for='pets') #[<strong>Proposed Pets] 
                            textarea#pets(name='pets' onchange='submit()' autofocus=(fieldFocused==='pets' ? 'autofocus' : null))= pp

                          li 
                            - var inc = ap ? ap.Income : ''
                            label(for='income') #[strong Income &amp Food Stamps] 
                            textarea#income(name='income' onchange='submit()' autofocus=(fieldFocused==='income' ? 'autofocus' : null))= inc

                          li
                            - var emp = ap ? ap.Employment : ''
                            label(for='employment') #[strong Employment: address, job, dates, hours, supervisor name and phone number]... 
                            textarea#employment(name='employment' onchange='submit()' autofocus=(fieldFocused==='employment' ? 'autofocus' : null))= emp

                      td
                        ul
                          li
                            - var ev = ap ? ap.Evictions : ''
                            label(for='evictions') #[strong Evictions Past 10 Years] 
                            textarea#evictions(name='evictions' onchange='submit()' autofocus=(fieldFocused==='evictions' ? 'autofocus' : null))= ev

                          li
                            - var fe = ap ? ap.Felonies : ''
                            label(for='felonies') #[strong Felonies/Drug Convictions] 
                            textarea#felonies(name='felonies' onchange='submit()' autofocus=(fieldFocused==='felonies' ? 'autofocus' : null))= fe
