.defaultsink, .inlineshort, #controls, #headercontrols, #goforward {display:none}
#rentapheader {width: 886px; margin:0px}
#tdrtitle,#rtitle {font:26px sans-serif; font-weight: bold; text-align:center; border-width:0px; vertical-align:top; max-width:380px; width:380px; margin:0px; padding:0px;display: inline-block}
#rentaladdress, #rentalcitystzip {font:12px serif; font-weight: bold; border-width:0px; vertical-align:top; max-width: 170px; width: 170px; max-height: 18px; margin:0px; padding:0px; display: block}
#authdate {width:84px; display:block; position: relative; top: -8px;}
#guestdate, #rentdate {width:84px; display:block; position: relative; top: -8px;}
#rowprint, #rentapID {width:42px; border-width:0px;position: relative; top: -8px;}
#rentapbody {margin:0px;}
ul {margin-left:0px; padding-left:0px;}
li {list-style: none;}
label, .section_header {font: 14px serif; display: inline-block; min-width: 76px; max-width: 276px; vertical-align:bottom; white-space: nowrap; overflow: hidden}
.personalinfo {margin-left:5px; max-width:76px; vertical-align:middle}
input {font:14px serif; width:200px}
textarea {font:13px serif; width:287px}
td {vertical-align:top; max-width:304px}
.inline {display: inline-block;}
.smalllabelinput {font:12px sans-serif; position: relative; top: -6px; display:block; width:72px;}
#currentaddresslabel {margin-top:16px}
#currentaddress {height:70px}
#previousaddresses {height:140px}
#occupants {height:50px}
#pets {height:40px}
#income {height:76px}
#employment {height:244px}
#evictions, #felonies {height:83px}
