body {background-color: Gainsboro}
td {vertical-align:top; padding:1ch;}
ul {margin-left:0px; padding-left:0px;}
li {list-style: none;}
input {font:14px serif; width:22.5ch}
textarea {font:14px serif; width:32.5ch}
label, .section_header {font: 14px serif; font-weight: bold; display: block; min-width: 76px; max-width: 276px; vertical-align:bottom; white-space: nowrap; overflow: hidden}
.title {font:26px sans-serif; text-align:center; vertical-align:top; max-width:25ch; width:25ch; display: inline-block}
.paddingtop {padding-top:3em}
.lowpadding {padding:0.2ch}
.max25ch {max-width:25ch}
.right {float: right}
.sameline_label {display: inline-block; font-weight: normal; min-width: 4ch; max-width: 4ch}
.sameline_input {display: inline-block; position: relative; text-align: right; width:4ch;}
.personalinfo {display: inline-block; font-weight: normal; margin-left: 1ch; width: 9ch; vertical-align:middle}
.inline {display: inline-block;}
.smalllabel {font:12px sans-serif; position: relative; top: -1ex; display:block;}
.readonly {border-width:0px; margin:0px; padding:0px; background-color: Gainsboro}
#headertable {border:1px solid gray}
#mode {width:6ch}
#pattern {width:20ch}
#rentaladdress, #rentalcitystzip {font:12px serif; vertical-align:top; max-width: 20ch; width: 20ch; max-height: 3em; display: block}
#authdate, #guestdate, #rentdate {width:10ch; display:block; position: relative; top: -1ex;}
#rownumber, #idnumber {text-align:center;}
#listsearchmenu {width: 22ch}
#currentaddresslabel {margin-top:1ex}
#currentaddress {height:7em}
#previousaddresses {height:14em}
#occupants {height:5em}
#pets {height:4em}
#income {height:7em}
#employment {height:17em}
#evictions, #felonies {height:17.6em}
